{% load crispy_forms_tags %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HTML 5 Boilerplate</title>
    <style></style>
  </head>
  <body>
    <h1>Add a Patient</h1>
    <div id="content" , name="content">
      <form method="POST" class="form-group">
        {% csrf_token %} 
        {{ patientForm|crispy }}
        {{ userForm|crispy }}

        <button type="submit" class="button">Register</button>
      </form>
    </div>
  </body>
</html>
