<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patient Dashboard</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        padding: 50px;
        background-color: #333333;
        color: #d3d3d3;
      }
      .button {
        display: inline-block;
        margin: 10px;
        padding: 15px 30px;
        font-size: 18px;
        color: #d3d3d3;
        background-color: #522e92;
        border: none;
        border-radius: 5px;
        text-decoration: none;
      }
      .button:hover {
        background-color: #3e236e;
      }
    </style>
  </head>
  <body>
    <h1>Patient: {{ patient.first }} {{ patient.last }}, {{ patient.user.email }}</h1>
    <h3>Reports</h3>
    <ul>
      {% for report in reports %}
      <li>
        Expected: {{report.med }} {{ report.day }} {{ report.hour }}:{{ report.min }} {{ report.meridiem }} | Actual: {{report.med}} {{report.logged_time|date:"l F j Y g:i A"|upper }} 
        <h3></h3>
      </li>
      {% empty %}
      <li>No medications found.</li>
      {% endfor %}
    <a href = "{%url 'search_patients'%}" class = "button">Back</a>
  </body>
</html>
