<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medications</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        padding: 50px;
        background-color: #333333;
        color: #d3d3d3;
      }
      .button {
        display: inline-block;
        margin: 10px;
        padding: 15px 30px;
        font-size: 18px;
        color: #d3d3d3;
        background-color: #522e92;
        border: none;
        border-radius: 5px;
        text-decoration: none;
      }
      .button:hover {
        background-color: #3e236e;
      }
    </style>
  </head>
  <body>
    <h1>Medication list</h1>
    <ul>
      {% for med in meds %}
      <li>
        {{ med.med }} {{ med.day }} {{ med.hour }}:{{ med.min|stringformat:"02d" }} {{ med.meridiem }} | <a href = "{% url 'log_medication' med.id %}" class = "button">Log</a>
      </li>
      {% empty %}
      <li>No medications found.</li>
      {% endfor %}
    </ul>
    <a href = "{%url 'patient_dashboard'%}" class = "button">Back</a>
  </body>
</html>
